*{
    padding: 0px;
    margin: 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: lightcyan;
}

main{
    padding: 0 1rem 0 1rem;
    color: black;
}

h3{
    font-style:italic;
}

img{
    border-radius:1rem;
}

ul{
    padding-left:2rem;
}

ol{
    padding-left:2rem;
}

a{
    color:plum;
    font-style: italic;
}

ol > li{
    color:crimson;
}

.thunder{
    color:purple;
}

.like{
    color:green;
}