* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: ?;
    font-family: sans-serif;
    color: white;
    background-color: black;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 1rem 2%;
  }
  
  h1 {
    font-size: 2rem;  /* El h1 tiene que tener un tamaño de fuente el doble de lo que hay por defecto en el documento.*/
    margin: 0;
  }
  
  img {
    height: 10vh;   /* El tamaño de la imagen tiene que ajustarse con unidades absolutas */
  }
  
  main {
    max-width: 1000px;  /* El ancho maximo del main tiene que ser de 1000px */
    margin: 0 auto;
    padding: 1rem;  /* El padding tiene que ser de 16px */
    text-align: left;
  }
  
  h2,
  h3 {
    margin: 1rem 0;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    margin: 0.5rem 0;
  }
  
  footer {
    background-color: #999;
    padding: 1rem;    /* El padding tiene que ser de 16px */
    text-align: center;
  }